body {
    background-color:#EBDFC7;
    margin: 0px;
    overflow: hidden;
}

h1 {
    font-size:2.5vw;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size:1.5vw;
    font-family: 'Press Start 2P', cursive;
}

h3 {
    font-size:1vw;
    font-family:'Press Start 2P', cursive;
}

input {
    font-family: 'Press Start 2P', cursive;
    font-size:large;
    width:85%;
    height:8%;
    border: none;
    border-radius:10px;
    padding-left: 2%;
    margin-left: 2vw;
    outline:none;
}

.submitButton {
    font-family: 'Press Start 2P', cursive;
    font-size: large;
    background-color: #EBDFC7;
    border-radius: 10px;
    width:25%;
    height:8%;
    border:none;
    outline:none;
    box-shadow: 1px 2px;
}

.spacer {
    height:1.5vh;
}

a:link{
    color:#000000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:#000000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

.showPasswordButton {
    margin-top: -6.5vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}