h1 {
    text-align: center;
}

h3 {
    margin-left:14vw;
}

.registerBox {
    background-color: #FFF4DF;
    width: 60vw;
    height:100vh;
    margin-left:20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-y: scroll;
    padding-top:0.5vh;
}

form {
    margin-left:6vw;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}

.showPasswordButton1 {
    margin-left: 47vw;
    margin-top: -28.25vh;
}

.showPasswordButton2 {
    margin-left: 47vw;
    margin-top: 12vh;
}

.vine1 {
    margin-top:-5vh;
    margin-left:10vw;
}

.vine2 {
    transform: rotate(180deg);
    margin-right: 10vw;
    margin-top: -27vh;
}

.submitButton{
    margin-left:22vw;
    margin-top:4vh;
}