.showPasswordButton {
    position:absolute;
    right:6vw;
    top:2.5vh;
    cursor:pointer;
}

label {
    margin-left:1vw;
}

input {
    margin-left:3.5vw;
}

.confirm h2 {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    position:absolute;
    top:10%;
    left:41%;
    margin:0;
}

.infoPopup {
    max-width:100%;
    max-height:100%;
    margin-top:3.5%;
    margin-left:15%;
    margin-right:15%;
    position: absolute; 
    justify-content: center;
    align-items: center;
    z-index:2;
    display:none;
    text-align:center;
}

.infoPopupImg {
    margin:auto;
    width:100%;
    max-height: 100vh;
}


.infoPopupHeading {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size:2vw;
    top:16%;
}

.infoPopupText {   
    position:absolute;
    font-family: 'Press Start 2P', cursive; 
    line-height:1.5em;
    top:26%;
    font-size:1.5vw;
    left:11%;
    right:11%;
    z-index:3;
}

.confirmImg {
    position:absolute;
    top:75%;
    height:10%;
    width:16%;
    left:42%;
}

.confirmText {
    font-family: 'Press Start 2P', cursive; 
    font-size:2vw;
    position:absolute;
    top:78%;
    left:48%;
}

.submitButton {
    margin-left:35%;
    margin-top:1.5vh;
    font-size:1.5vw;
}

.registerLink {
    padding-top:1.5vh;
    font-family: 'Press Start 2P', cursive;
    margin-left:3vw;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.split {
    height: 100vh;
    width: 40vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    margin-left: 10vh;
    padding-top: 24vh;
    padding-left: 1vw;
    background-color: #FFF4DF
}

.right {
    right: 0;
    width:50vw;
    padding-top:5vh;
    padding-right:1vw;
}

.headings {
    text-align:center;  
}

.hearts {
    display:flex;
    margin-left:8vw;
    margin-top:5.75vh;
    flex-direction: column;
}

.heart2 {
    margin-left:8vw;
    margin-top:1vw;
}

.heart3 {
    margin-left: 2.25vw;
    margin-top:6vh;
}

.decorations {
    display:flex;
    flex-direction:row;
}

.elizabethImage {
    margin-left: 6vw;
    margin-top: 12.5vh;
}

.infoButton {
    position:absolute;
    right:1.5vw;
    bottom:3.5vw;
    cursor:pointer;
}

.passwordInputAndIcon {
    position:relative;
}

@media only screen and (max-width: 1100px) {
    .infoPopupHeading {
        font-size:2vw;
    }
    
    .infoPopupText {   
        font-size:1vw;
    }
}

@media only screen and (min-width: 1600px) {
    .infoPopupHeading {
        font-size:1.5vw;
    }
    
    .infoPopupText {   
        font-size:1vw;
    }

    .confirmText {
        font-size:1.5vw;
    }
}

@media only screen and (max-height: 600px) {
    .showPasswordButton {
        width:30px;
        height:30px;
    }
}

@media only screen and (max-height: 400px) {
    .showPasswordButton {
        width:20px;
        height:20px;
    }
}

@media only screen and (max-height: 200px) {
    .showPasswordButton {
        width:10px;
        height:10px;
    }
}